<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".lua" mimeType="text/plain" />
            <mimeMap fileExtension=".conf" mimeType="text/plain" />
            <mimeMap fileExtension=".cdb" mimeType="application/octet-stream" />
        </staticContent>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
